.List_d{
    background-color: rgb(118, 127, 220);
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(46, 46, 91);
    font-size: small;
   margin-bottom: 10px;
    
}
.List_d button{
    background-color: rgb(188, 171, 243);
    border: none;
    color: black;
}
.List_d button:hover{
    background-color: rgb(46, 46, 91) ;
}